<!DOCTYPE html>
<html>
<head>
  <title>Patologi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="container-fluid">
    <h1>Patologi</h1>
    <ul class="nav nav-tabs">
      <li id="nav-notif" role="presentation"><a href="/notifications/all">HTTP Notification</a></li>
      <li id="nav-sms" role="presentation"><a href="/sms">SMS</a></li>
    </ul>
    <%= yield %>
  </div>
</div>

<%= yield :javascript %>
</body>
</html>
